<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bdlabit.shaqib.jubot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".ReviewActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="MY_INTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".TabActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".FoodListActivity" />
        <activity android:name=".MyOrdersActivity" />
        <activity
            android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Verification" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".AboutusActivity" />
        <activity android:name=".DetailVegActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".DetailVortaActivity" />
        <activity android:name=".DetailRiceActivity" />
        <activity android:name=".DetailOthersActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0874daea7abc492d788e1f67f940b71ee80121e0" />
    </application>

</manifest>